// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 

.field textarea {
  background-color: #383838;
  border-color: gray;
  color:white;
}

.post label {
  color: #8EE4AF;
  font-size: 20px
}